body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: #FD6E0A;
    --title-color: #181818;
}

main section {
    margin-top: 130px;
}

.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: var(--title-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.logo {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin-left: -88px;
}

.logo span {
    color: var(--primary-color);
}

nav > ul {
    display: flex;
    align-items: center;
    margin-right: -110px;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: var(--title-color);
    font-size: 20px;
    font-weight: 400;
}

.btn-primary {
    width: 150px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}

/* Header Related Style */
.header {
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.btn-contact {
    width: 130px;
    height: 50px;
    color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner {
    padding: 30px 30px 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    color: var(--title-color);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    display: flex;
    width: 500px;
    flex-direction: column;
    margin-bottom: 30px;
}

.banner .profile-picture {
    width: 500px;

}


/* About-Section */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}

main {
    max-width: 1120px;
    margin: 0 auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.about-info {
    text-align: center;
    padding: 15px 0px;
}

.about-info .info-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;

}

.about-info .info-title {
    color: #181818;
    font-size: 20px;
}

/* What I Do Section */

.what-i-do {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
}

.skill-title {
    color: var(--title-color);
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* -- Resume Section -- */

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-top: 113px;
    margin-bottom: 30px;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-title {
    margin-bottom: 10px;
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-item-info {
    margin-bottom: 20px;
    margin-top: 0;
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.resume-container hr {
    margin: 30px 0;
}
.resume-column-info {
    margin-right: 70px;
}

.download-cv {
    margin-top: 50px;
    text-align: center;
}

/* Footer Section */

.footer-section {
    display: flex;
    gap: 100px;
    margin-top: 100px;
    padding: 130px 150px;
    background: #FFF8F3;
    text-align: left;
}

.footer-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.footer-description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-column {
    width: 50%;
}

.contact input[type="text"],
input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

.social-media-links a {
    margin-right: 24px;
}

.contact {
    margin-top: 28px;
}

.hide{
    display: none;
}