
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}
:root{
    --primary-color:#FD6E0A;
    --title-color:#181818;
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: var(--title-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin-left: -88px;
}
.logo span{
    color:var(--primary-color);
}
nav > ul{
    display: flex;
    align-items: center;
    margin-right: -110px;
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: var(--title-color);
    font-size: 20px;
    font-weight: 400;
}
.btn-primary{
    width: 150px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
}
/* Header Related Style */
.header{
    height: 100vh;
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 130px;

}
.btn-cv{
    width: 180px;
    height: 50px;;
}
.btn-contact{
    width: 130px;
    height: 50px;
    color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    font-weight: 700;
}
.banner{
    padding: 50px 30px 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 500px;
}
.banner-title{
    color: var(--title-color);
    font-size: 65px;
    font-weight: 700;
}
.banner-description{
    display: flex;
    width: 500px;
    flex-direction: column;
}
.banner .profile-picture{
    width: 400px;
}


/* About-Section */

.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}
main{
    max-width: 1120px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.about-info{
    text-align: center;
}
.about-info .info-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;

}
.about-info .info-title{
    color: #181818;
    font-size: 20px;
}